[Unit]
Description=Validando E-mail por TLD, DNS MX e sintaxe
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/user_email/app/
User=user_email
ExecStart=/bin/bash -c '/home/user_email/.virtualenvs/bin/gunicorn app:app -b 0.0.0.0:8888 -k uvicorn.workers.UvicornWorker -w 4 --graceful-timeout 0 --access-logfile /home/user_email/app/app.log 2>&1'

[Install]
WantedBy=multi-user.target

